
<nav class="navbar navbar-expand-lg fixed-top navbar-light">
  <!-- <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true" onclick="history.back()"></i> -->
  <a class="float-right" class="navbar-brand" [routerLink] = "['home']"><img src="assets/img/manzana.png" width="50"></a>
  <a class="navbar-brand" href="#">Nutrición y Vida</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarCollapse"> 
    <ul class="navbar-nav ml-auto" id="items">
      
      <ng-container *ngIf='!authService.logueado(); else logueado'>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['home']">Inicio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['login']">Login</a>
        </li>
      </ng-container>
      
      <ng-template #logueado>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['usuario']">Inicio <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Perfil</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" width="150px" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pacientes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ver</a>
            <a class="dropdown-item" [routerLink]="['registrar']">Registrar</a>
          </div>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" width="150px" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dietas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ver</a>
            <a class="dropdown-item" [routerLink]="['registrar']">Calcular</a>
          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link" style="cursor: pointer;" (click)="authService.logout()">Logout</a>
        </li>
      </ng-template>

    </ul>
  </div>
</nav>

