<nav class="navbar navbar-expand-lg row">
  <div class="col-1" align="center">
  </div>
  <img class="" src=" assets/img/manzana.png" width="50px">
  <a class="navbar-brand col-6" href="#">Nutrición y Vida</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse col-4" align="center" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <ng-container *ngIf='!authService.logueado(); else logueado'>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['home']">Inicio <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['login']">Login</a>
        </li>
      </ng-container>
      <ng-template #logueado>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['usuario']">Inicio <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['registrar']">Registrar <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pacientes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" width="150px" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Toma Medidas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="authService.logout()">Logout</a>
        </li>
      </ng-template>


    </ul>

  </div>
</nav>
