.navbar {
  background-color: #f39c12;
  -webkit-font-smoothing: antialiased;
  font: normal 18px Roboto, arial, sans-serif;
  font-family: 'Acme', sans-serif;
}

.navbar-brand {
  color: black;
  font-size: 140%;
}

ul#items li a{
  position: relative;
  color: black;
  margin: 0px 5px;
}

ul#items li a:after{
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 100%;
  height: 5px;
  background-color: #d14b3e;
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
  transform: translateY(20px);        
}
ul#items li a:hover:after{
  opacity:1;
  transform: translateY(15px)
}