<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="assets/img/manzana.png" class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form class="form-login" (submit)="login()">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-user-o" aria-hidden="true"></i></span>
            </div>
            <input type="text" [(ngModel)]="user.email" name="userName" id="userName" class="form-control input_user" value="" placeholder="username">
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
            </div>
            <input type="password" [(ngModel)]="user.password" name="userPassword" id="userPassword" class="form-control input_pass" value="" placeholder="password">
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customControlInline">
              <label class="custom-control-label" for="customControlInline">Remember me</label>
            </div>
          </div>
            <div class="d-flex justify-content-center mt-3 login_container">
              <div class="wrapper">
                <span class="group-btn">
                  <button type="submit" class="btn login_btn">Login <i class="fa fa-sign-in"></i></button>
                </span>
              </div>
         </div>
        </form>
      </div>
    </div>
  </div>
</div>