<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-offset-5 col-md-4">
      <div class="card text-center">
        <div class="card-header">
          Inicio de sesión
        </div>
        <div class="card-body">
          <div class="form-login">
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
            <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
            <div class="wrapper">
              <span class="group-btn">
                <a href="#" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
              </span>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          Eres nuevo?
        </div>
      </div>
    </div>
  </div>
</div>
