.navbar {
  background-color: #DF7401;
  padding: 10px 0px 10px 10px;
}

.nav-link,
.navbar-brand {
  color: white;
  font-size: 120%;
}

.nav-item:hover {
  background-color: #a4342c;
  border-radius: 5px;
}
