<div class="container">
    <h4>Bienvenido!</h4>
    <table  class="table mt-3 animated fadeIn faster" id="tabla">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Tipo</th>
            <th scope="col">Email</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios; let i=index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ usuario._id }}</td>
            <td>{{ usuario.tipo }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apPat }}</td>
            <td>{{ usuario.apMat }}</td>
          </tr>
        </tbody>
      </table>
</div>